body {
  background-color: #1f2937;
}

.container {
  background-color: #1f2937;
  font-family: Roboto;
  flex-direction: column;
  gap: 32px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  margin: 8px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.dark_container {
  background-color: #1f2937;
  display: flex;
  color: white;
  flex-direction: column;
  padding-bottom: 64px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 64px;
  padding-left: 16px;
  padding-right: 16px;
}

.imgtext {
  display: flex;
  justify-content: center;
  gap: 64px;
  padding-top: 32px;
}

.textie {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 500px;
}

div#mainhero {
  font-size: 48px;
  font-weight: 900;
  max-width: 900px;
}

div#lorem {
  font-size: 18px;
  color: #e5e7eb;
  padding-top: 8px;
  padding-bottom: 16px;
}

button#buy {
  background-color: #3882f6;
  color: white;
  max-width: fit-content;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
}

.white {
  display: flex;
  background-color: white;
  width: 100%;
  color: black;
  flex-direction: column;
  gap: 64px;
  padding-bottom: 32px;
  align-items: center;
}

#bonus {
  color: black;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  padding: 32px;
}

.photos_container p {
  color: black;
  font-size: 18px;
  max-width: 200px;
}

.photos_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img#knife {
  border: 4px solid blue;
  border-radius: 16px;
}

.tabs {
  display: flex;
  gap: 48px;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grey_space {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  flex-grow: 1;
}

.textblock {
  display: flex;
  flex-direction: column;
}

p#quote {
  text-align: center;
  font-style: italic;
  font-weight: 0;
  max-width: 600px;
  color: #1f2937;
  font-size: 18px;
  padding-top: 64px;
}

#author {
  font-weight: 900;
  text-align: right;
  padding-bottom: 64px;
}

.blue_space {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  width: 30%;
  border-radius: 16px;
  padding: 64px;
  gap: 32px;
}

.itstext {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 16px;
}

div#header {
  font-weight: 900;
}

button#blue {
  font-size: 18px;
  max-width: fit-content;
  background-color: #3882f6;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  color: #e5e7eb;
  padding-left: 16px;
  padding-right: 16px;
}

.footer {
  display: flex;
  color: white;
  justify-content: center;
  padding-bottom: 16px;
  padding-top: 16px;
}
